<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="javascript: void(0);">XXXXXXXXX</a></li>
          <li class="breadcrumb-item active">Rooms</li>
        </ol>
      </div>
      <h4 class="page-title">建立旅館週邊景點</h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        
      </div>
    </div>
  </div>
</div>